__собираем предложения по квартирам__

_Evgeny S. Borisov <parser@mechanoid.su>_

In [1]:
# !pacman -S firefox firefox-i18n-r  geckodriver
# !pip install seleniuam

In [2]:
# import re
import sys
import logging
from datetime import datetime as dtm
from tqdm.notebook import tqdm
import pandas as pd

In [3]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', '{:.2f}'.format)
tqdm.pandas()

logging.basicConfig(
        format=u'[%(levelname)-8s] %(asctime)s | %(message)s',
        datefmt='%Y-%m-%d %H:%M:%S',
        level=logging.INFO,
        # level=logging.DEBUG,
        stream=sys.stdout,
    )

---

In [4]:
# каталог с файлами объявлений
avito_raw_data_path = 'data/raw/flat/avito' 
cian_raw_data_path = 'data/raw/flat/cian'

result_file_path = 'data/data_flat.pkl'

In [5]:
# ts = dtm.now().strftime('%Y-%m-%d_%H-%M')
# ts

## собираем данные авито.ру

In [6]:
import re
from os import listdir

raw_data_files = sorted([
        avito_raw_data_path+'/'+f 
        for f in listdir(avito_raw_data_path) 
        if re.match(r'.+\.xlsx$',f)
    ])
raw_data_files

['data/raw/flat/avito/avito_2022-08-26_17-29_raw.xlsx',
 'data/raw/flat/avito/avito_2022-08-29_13-16_raw.xlsx',
 'data/raw/flat/avito/avito_2022-08-31_17-42_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-01_14-07_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-02_13-04_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-05_14-02_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-06_13-09_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-07_12-39_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-08_13-36_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-12_13-44_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-13_13-55_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-15_10-27_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-16_15-07_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-19_12-36_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-22_09-48_raw.xlsx',
 'data/raw/flat/avito/avito_2022-09-26_11-20_raw.xlsx',
 'data/raw/flat/avito/avito_2022-10-08_20-34_raw.xlsx',
 'data/raw/flat/avito/avito_2022-10-14_15-48_raw.xlsx',
 'data/raw/flat/avito/avito_2022-11-01_13-51_raw.xlsx',
 'data/raw/flat/avito/avito_2022-11-04_17-11_raw.xlsx',
 'data/raw/flat/avito/avito_2022-11-07_10-43_raw.xlsx',
 'data/raw/flat/avito/avito_2022-11-15_13-12_raw.xlsx',
 'data/raw/flat/avito/avito_2022-11-28_13-20_raw.xlsx',
 'data/raw/flat/avito/avito_2023-01-10_11-25_raw.xlsx']

In [7]:
from lib.avito import AvitoDataCleanerRealtyFlat

data_avito = pd.concat([
        pd.read_excel(f)
        .dropna()
        .drop_duplicates(['avito_id','description'])
        .rename(columns={'page':'avito_page'})
        .reset_index(drop=True)  
        for f in raw_data_files
    ]).reset_index(drop=True)

data_avito = AvitoDataCleanerRealtyFlat().transform( data_avito )

print(len(data_avito))

24230

In [8]:
assert len(data_avito)>0

In [9]:
data_avito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24230 entries, 0 to 24229
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   avito_id       24230 non-null  int64
 1   title          24230 non-null  object
 2   price          24230 non-null  int64
 3   adr            24230 non-null  object
 4   description    24230 non-null  object
 5   obj_name       24230 non-null  object
 6   ts             24230 non-null  datetime64[ns]
 7   avito_page     24230 non-null  int64
 8   place          24230 non-null  object
 9   nrooms         24230 non-null  int64
 10  floor          24230 non-null  int64
 11  nfloors        24230 non-null  int64
 12  area           24230 non-null  float64
 13  is_studio      24230 non-null  bool
 14  is_apartment   24230 non-null  bool
 15  is_part        24230 non-null  bool
 16  is_auction     24230 non-null  bool
 17  is_openspace   24230 non-null  bool
 18  is_roof        24230 non-null  bool
 19  is_SNT         24230 non-null  bool
 20  priceM         24230 non-null  float64
 21  is_last_floor  24230 non-null  bool
dtypes: bool(8), datetime64[ns](1), float64(2), int64(6), object(5)
memory usage: 2.8+ MB

In [10]:
data_avito.isnull().any()

avito_id         False
title            False
price            False
adr              False
description      False
obj_name         False
ts               False
avito_page       False
place            False
nrooms           False
floor            False
nfloors          False
area             False
is_studio        False
is_apartment     False
is_part          False
is_auction       False
is_openspace     False
is_roof          False
is_SNT           False
priceM           False
is_last_floor    False
dtype: bool

In [11]:
# data_avito.query('nrooms==0')
# data_avito[ data_avito['title'].str.len()<1]

## собираем данные циан.ру

In [12]:
import re
from os import listdir

raw_data_files = sorted([
        cian_raw_data_path+'/'+f 
        for f in listdir(cian_raw_data_path) 
        if re.match(r'.+\.pkl$',f)
        #if re.match(r'.+\.xlsx$',f)
    
    ])
raw_data_files

['data/raw/flat/cian/cian_2022-09-08_14-25_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-12_13-59_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-13_13-59_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-15_10-30_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-16_15-11_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-19_12-40_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-22_09-53_raw.pkl',
 'data/raw/flat/cian/cian_2022-09-26_11-23_raw.pkl',
 'data/raw/flat/cian/cian_2022-10-08_20-39_raw.pkl',
 'data/raw/flat/cian/cian_2022-10-14_15-53_raw.pkl',
 'data/raw/flat/cian/cian_2022-11-01_13-57_raw.pkl',
 'data/raw/flat/cian/cian_2022-11-04_17-14_raw.pkl',
 'data/raw/flat/cian/cian_2022-11-07_10-47_raw.pkl',
 'data/raw/flat/cian/cian_2022-11-15_13-16_raw.pkl',
 'data/raw/flat/cian/cian_2022-11-28_15-30_raw.pkl',
 'data/raw/flat/cian/cian_2023-01-10_11-25_raw.pkl']

In [13]:
data_cian = pd.concat([
        pd.read_pickle(f)
         .dropna()
         .drop_duplicates(['LinkArea','Description',])
         .rename(columns={'page':'cian_page'})
         .reset_index(drop=True)  
        for f in raw_data_files
    ]).reset_index(drop=True)

In [14]:
data_cian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22644 entries, 0 to 22643
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OfferTitle     22644 non-null  object
 1   OfferSubtitle  22644 non-null  object
 2   Deadline       22644 non-null  object
 3   MainPrice      22644 non-null  object
 4   PriceInfo      22644 non-null  object
 5   GeoLabel       22644 non-null  object
 6   TimeLabel      22644 non-null  object
 7   LinkArea       22644 non-null  object
 8   Description    22644 non-null  object
 9   cian_page      22644 non-null  int64
 10  ts             22644 non-null  datetime64[ns]
 11  place          22644 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 2.1+ MB

In [15]:
data_cian.isnull().any()

OfferTitle       False
OfferSubtitle    False
Deadline         False
MainPrice        False
PriceInfo        False
GeoLabel         False
TimeLabel        False
LinkArea         False
Description      False
cian_page        False
ts               False
place            False
dtype: bool

In [16]:
swap_title = data_cian['OfferSubtitle'].str.match(r'.*\d+ м², \d+/\d+ эт.*') 

data_cian = pd.concat([
        data_cian[ ~swap_title ],
        data_cian[ swap_title ]
            .rename(columns={'OfferTitle':'OfferSubtitle','OfferSubtitle':'OfferTitle'})
    ]).reset_index(drop=True)

In [17]:
# data_cian

In [18]:
from lib.cian import CianDataCleaner

data_cian = CianDataCleaner().transform( data_cian )

print(len(data_cian))

22644

In [19]:
assert len(data_cian)>0

In [20]:
data_cian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22644 entries, 0 to 22643
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          22644 non-null  object
 1   obj_name       22644 non-null  object
 2   adr            22644 non-null  object
 3   nrooms         22644 non-null  int64
 4   floor          22644 non-null  int64
 5   nfloors        22644 non-null  int64
 6   area           22644 non-null  float64
 7   is_studio      22644 non-null  bool
 8   is_apartment   22644 non-null  bool
 9   is_part        22644 non-null  bool
 10  is_auction     22644 non-null  bool
 11  is_openspace   22644 non-null  bool
 12  is_roof        22644 non-null  bool
 13  is_SNT         22644 non-null  bool
 14  price          22644 non-null  int64
 15  priceM         22644 non-null  float64
 16  is_last_floor  22644 non-null  bool
 17  cian_url       22644 non-null  object
 18  description    22644 non-null  object
 19  cian_page      22644 non-null  int64
 20  ts             22644 non-null  datetime64[ns]
 21  place          22644 non-null  object
dtypes: bool(8), datetime64[ns](1), float64(2), int64(5), object(6)
memory usage: 2.6+ MB

In [21]:
data_cian.isnull().any()

title            False
obj_name         False
adr              False
nrooms           False
floor            False
nfloors          False
area             False
is_studio        False
is_apartment     False
is_part          False
is_auction       False
is_openspace     False
is_roof          False
is_SNT           False
price            False
priceM           False
is_last_floor    False
cian_url         False
description      False
cian_page        False
ts               False
place            False
dtype: bool

In [22]:
# data_cian
# data_cian.query('nrooms==0')
# data_cian[ data_cian['title'].str.len()<1 ]
# data_cian[ data_cian['obj_name'].str.len()>0 ][['title','obj_name',]] # .to_csv('tmp/cian_title.csv',sep='\t')|

----

In [23]:
data_avito['url'] = 'https://avito.ru/' + data_avito['avito_id'].astype(int).astype(str)
data_avito = data_avito.drop(columns=['avito_id'])
data_cian = data_cian.rename(columns={'cian_url':'url'})

In [24]:
data = pd.concat([data_avito,data_cian]).reset_index(drop=True) 
print(len(data))
assert len(data)>0

46874

In [25]:
data.sample()

,title,price,adr,description,obj_name,ts,avito_page,place,nrooms,floor,...,is_apartment,is_part,is_auction,is_openspace,is_roof,is_SNT,priceM,is_last_floor,url,cian_page
24989,"2-комн. кв., 40,3 м², 3/5 этаж",6200000,"Севастополь, район Нахимовский, микрорайон Бартеньевка, улица Богданова, 17","Предлагаем Вашему вниманию двухкомнатную квартиру по адресу: г. Севастополь, ул. Богданова, д. 17. \nОбщая площадь квартиры 40,3 м2. Квартира очень теплая, сухая, расположена на 3-м этаже 5 этажного дома. Окна выходят на тихую сторону дома.\n\nВодопроводные и канализационные трубы заменены на металлопластиковые, установлена современная газовая колонка. \nВ комнате и кухне установлены оконные стеклопакеты, балкон застеклен, рамы деревянные, в коридоре качественная входная дверь.\n\nДом расположен в одном из лучших мест данного района города. В 2-х минутах ходьбы продуктовый рынок Богдановский, супермаркет, аптеки, множество магазинов, салонов и кафе. В 10-15-ти минутах ходьбы две образовательные школы, горбольница 4 и еще несколько детских садов, а также новый современный парк ""Учкуевка"" и песочный пляж с множеством мест отдыха на любой вкус и бюджет. \nВечерами, Вы можете прогуляться по парку прям до берега моря, наслаждаясь закатом солнца и морским бризом, а затем посидеть в уютном кафе. \n\nДанная квартира подходит как для постоянного проживания, так и для инвестирования средств, с целью получения пассивного дохода от сдачи в аренду. Местоположение пользуется особым спросом!!!\n\nРассмотрим все виды расчета.\nОбращайтесь, организуем для вас показ!\nПоможем одобрить и оформить ипотеку на самых выгодных условиях в Севастополе, в том числе в Сбербанке. Сопроводим сделку вплоть до получения Вами права собственности, гарантируя её безопасность.\nЗвоните!!! . Номер в базе: 8056273.",,2022-09-08 14:25:06.437355,NaN,sevastopol,2,3,...,False,False,False,False,False,False,6.20,False,https://sevastopol.cian.ru/sale/flat/276247972/,30.00

## обновляем таблицу адресов

In [26]:
# data_ = data.sample(15).reset_index(drop=True)
# data_[['adr']]

In [27]:
places = { 
# поле 'place' и название города
'bahchisaray': 'Бахчисарай,',
      'sudak': 'Судак,',
  'sevastopol': 'Севастополь,',
}

def norm_place(d,places=places):
    if not d['place'] in places: return d['adr_']
    p = places[ d['place'] ]
    return d['adr_'] if d['adr_'].find(p)>-1 else p+d['adr_']

In [28]:
from lib.locator import AddressTransformer

atr = AddressTransformer()
data['adr_'] = data['adr'].progress_apply(atr.transform)
data['adr_'] = data[['adr_','place']].progress_apply(norm_place,axis=1)
data = data.rename(columns={'adr':'adr_orig','adr_':'adr'})

  0%|          | 0/46874 [00:00<?, ?it/s]

  0%|          | 0/46874 [00:00<?, ?it/s]

In [29]:
data[['adr_orig','adr']].sample(10)

,adr_orig,adr
34871,"Севастополь, район Ленинский, микрорайон Острякова, проспект Генерала Острякова, 250","Севастополь, район Ленинский, Острякова, проспект Генерала Острякова, 250"
44681,"Севастополь, район Ленинский, Доброгород ЖК","Севастополь, район Ленинский, Доброгород ЖК"
13777,"Парковая улица , 7","Севастополь,Парковая улица , 7"
28941,"Севастополь, район Гагаринский, микрорайон Летчики","Севастополь, район Гагаринский, Летчики"
39342,"Севастополь, район Нахимовский, микрорайон Радиогорка, улица Симонок, 62","Севастополь, район Нахимовский, Радиогорка, улица Симонок, 62"
44042,"Севастополь, район Ленинский, улица Гоголя, 26А","Севастополь, район Ленинский, улица Гоголя, 26А"
37851,"Севастополь, район Ленинский, улица Кулакова, 17","Севастополь, район Ленинский, улица Кулакова, 17"
13657,"улица Павла Корчагина, стр. 5","Севастополь, улица Павла Корчагина, стр. 5"
7760,"аллея Защитников 35-й Батареи, д. 11а","Севастополь,аллея Защитников 35-й Батареи, д. 11а"
24462,"Севастополь, район Ленинский, микрорайон Острякова, улица Маршала Геловани, 14","Севастополь, район Ленинский, Острякова, улица Маршала Геловани, 14"

In [30]:
# from lib.locator import GeocoderSimpleOSM
from lib.locator import GeocoderYandex
from yandex_keys import keys

atr = AddressTransformer()
locator = GeocoderYandex(keys[0])
# locator = GeocoderSimpleOSM()

loc_file_path = 'data/location.pkl' # таблица адресов
loc = pd.read_pickle(loc_file_path)
# loc = pd.DataFrame([],columns=['adr','latitude','longitude',])
logging.info(f'LocationUpdater: {len(loc)} addresses in index')

# собираем все адреса в один список
loc = loc.merge(
        data[['adr']].drop_duplicates(),
        how='outer',
        on='adr',
    ).drop_duplicates().reset_index(drop=True)

logging.info(f'LocationUpdater: {len(loc)} addresses total')

# собираем все адреса с геопозицией
loc_def = loc[~loc['latitude'].isna()].reset_index(drop=True)
logging.info(f'LocationUpdater: {len(loc_def)} addresses defined')

# собираем все адреса без геопозиции
loc_undef = loc[loc['latitude'].isna()][['adr']].reset_index(drop=True)
logging.info(f'LocationUpdater: {len(loc_undef)} addresses undefined')

if len(loc_undef)>0:
    # определяем координаты по строке адреса
    loc_undef = loc_undef.join( loc_undef['adr'].progress_apply(locator.transform).apply(pd.Series) ).dropna()     
    logging.info(f'LocationUpdater: {len(loc_undef)} new addresses found')
    loc = pd.concat([loc_def,loc_undef]).reset_index(drop=True) 
    assert len(loc)>0
    loc.to_pickle(loc_file_path)

[INFO    ] 2023-01-10 11:33:11 | LocationUpdater: 7662 addresses in index
[INFO    ] 2023-01-10 11:33:11 | LocationUpdater: 7689 addresses total
[INFO    ] 2023-01-10 11:33:11 | LocationUpdater: 7662 addresses defined
[INFO    ] 2023-01-10 11:33:11 | LocationUpdater: 27 addresses undefined

  0%|          | 0/27 [00:00<?, ?it/s]

[INFO    ] 2023-01-10 11:33:26 | LocationUpdater: 27 new addresses found

In [31]:
print( len(loc) )
loc.sample(3)

7689

,latitude,longitude,adr
6692,44.736655,33.57094,"Севастополь,с. Осипенко, Лазурная ул., 37"
6188,44.48148,33.760952,"Севастополь,с. Широкое, ул. Микадзе"
2343,44.564872,33.527857,"Севастополь, район Ленинский, Острякова, улица Генерала Хрюкина, 12Б"

## дополняем данные геометкой

In [32]:
# data = data.rename(columns={'adr':'adr_orig','adr_':'adr'})

In [33]:
data = data.merge(loc,on=['adr'],how='left')

print('всего записей:', len( data) )
print('записей без геометки:', len( data[ data['latitude'].isna() ] ) )

всего записей: 46874
записей без геометки: 0

In [34]:
assert len(data)>0
data.to_pickle(result_file_path)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46874 entries, 0 to 46873
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          46874 non-null  object
 1   price          46874 non-null  int64
 2   adr_orig       46874 non-null  object
 3   description    46874 non-null  object
 4   obj_name       46874 non-null  object
 5   ts             46874 non-null  datetime64[ns]
 6   avito_page     24230 non-null  float64
 7   place          46874 non-null  object
 8   nrooms         46874 non-null  int64
 9   floor          46874 non-null  int64
 10  nfloors        46874 non-null  int64
 11  area           46874 non-null  float64
 12  is_studio      46874 non-null  bool
 13  is_apartment   46874 non-null  bool
 14  is_part        46874 non-null  bool
 15  is_auction     46874 non-null  bool
 16  is_openspace   46874 non-null  bool
 17  is_roof        46874 non-null  bool
 18  is_SNT         46874 non-null  bool
 19  priceM         46874 non-null  float64
 20  is_last_floor  46874 non-null  bool
 21  url            46874 non-null  object
 22  cian_page      22644 non-null  float64
 23  adr            46874 non-null  object
 24  latitude       46874 non-null  object
 25  longitude      46874 non-null  object
dtypes: bool(8), datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 7.2+ MB