__собираем данные__

_Evgeny S. Borisov <parser@mechanoid.su>_

In [1]:
# !pacman -S firefox firefox-i18n-r  geckodriver
# !pip install seleniuam

In [2]:
# import re
import sys
import logging
from datetime import datetime as dtm
from tqdm.notebook import tqdm
import pandas as pd

In [3]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', '{:.2f}'.format)
tqdm.pandas()

logging.basicConfig(
        format=u'[%(levelname)-8s] %(asctime)s | %(message)s',
        datefmt='%Y-%m-%d %H:%M:%S',
        level=logging.INFO,
        # level=logging.DEBUG,
        stream=sys.stdout,
    )

---

In [4]:
# каталог с файлами объявлений
avito_raw_data_path = 'data/raw/land/avito' 
# cian_raw_data_path = 'data/raw/cian'
result_file_path = 'data/data_land.pkl'

In [5]:
# ts = dtm.now().strftime('%Y-%m-%d_%H-%M')
# ts

## собираем данные авито.ру

In [6]:
import re
from os import listdir

raw_data_files = sorted([
        avito_raw_data_path+'/'+f 
        for f in listdir(avito_raw_data_path) 
        if re.match(r'.+\.xlsx$',f)
    ])
raw_data_files

['data/raw/land/avito/avito_2022-09-08_16-05_raw.xlsx',
 'data/raw/land/avito/avito_2022-09-12_13-51_raw.xlsx',
 'data/raw/land/avito/avito_2022-09-13_13-56_raw.xlsx']

In [7]:
data_avito = pd.concat([
        pd
        .read_excel(f)
        #.dropna()
        .drop_duplicates(['avito_id','description'])
        .rename(columns={'page':'avito_page'})
        .reset_index(drop=True)  
        for f in raw_data_files
    ]).reset_index(drop=True)

print(len(data_avito))

3294

In [8]:
# data_avito

In [9]:
from lib.avito import AvitoDataCleanerRealtyLand

data_avito = AvitoDataCleanerRealtyLand().transform( data_avito )

print(len(data_avito))

3294

In [10]:
data_avito.sample(3)

,avito_id,title,price,obj_name,adr,description,avito_page,ts,area,is_IJS,priceM,priceMU,area_size_category
2941,2374797281,"Участок 6,6 сот. (ИЖС)",2500000,,"Нахимовский муниципальный округ, посёлок Любимовка",Участок в Любимовке! 2 км от центрального пляжа Любимка! Кадастровый номер — 91:4:12001:678.,16,2022-09-13 13:56:54.600,6.60,True,2.50,0.38,4-8
232,1046170889,Участок 12 сот. (ИЖС),9800000,,с. Береговое,"Участок Ижс полный пакет документов. С. Береговое Бахчисарайский он. В центре поселка на участке Вода Круглосуточно пить можно прямо из под крана)!, свет, Газ, автономная канализация, домик. Гараж. В поселке 2 пляжа магазины, церковь, почта, Фап, Санаторий",6,2022-09-08 16:04:40.227,12.00,True,9.80,0.82,8-20
2432,2208798896,"Участок 11,9 сот. (ИЖС)",1600000,,район Северная Сторона,Срочная продажа до сентября. В сентябре цена за этот участок будет выше.,5,2022-09-13 13:56:54.600,11.90,True,1.60,0.13,8-20

In [11]:
assert len(data_avito)>0

In [12]:
data_avito.info(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   avito_id            3294 non-null   int64
 1   title               3294 non-null   object
 2   price               3294 non-null   int64
 3   obj_name            3294 non-null   object
 4   adr                 3294 non-null   object
 5   description         3294 non-null   object
 6   avito_page          3294 non-null   int64
 7   ts                  3294 non-null   datetime64[ns]
 8   area                3294 non-null   float64
 9   is_IJS              3294 non-null   bool
 10  priceM              3294 non-null   float64
 11  priceMU             3294 non-null   float64
 12  area_size_category  3294 non-null   category
dtypes: bool(1), category(1), datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 289.9+ KB

In [13]:
## собираем данные циан.ру

In [14]:
# import re
# from os import listdir

# raw_data_files = sorted([
#         cian_raw_data_path+'/'+f 
#         for f in listdir(cian_raw_data_path) 
#         if re.match(r'.+\.pkl$',f)
#         #if re.match(r'.+\.xlsx$',f)
    
#     ])
# raw_data_files

In [15]:
# data_cian = pd.concat([
#         # pd.read_excel(f)
#         pd.read_pickle(f)
#          .dropna()
#          .drop_duplicates(['LinkArea','Description',])
#          .rename(columns={'page':'cian_page'})
#          .reset_index(drop=True)  
#         for f in raw_data_files
#     ]).reset_index(drop=True)

In [16]:
# data_cian.info(2)

In [17]:
# swap_title = data_cian['OfferSubtitle'].str.match(r'.*\d+ м², \d+/\d+ эт.*') 

# data_cian = pd.concat([
#         data_cian[ ~swap_title ],
#         data_cian[ swap_title ]
#             .rename(columns={'OfferTitle':'OfferSubtitle','OfferSubtitle':'OfferTitle'})
#     ]).reset_index(drop=True)

In [18]:
# data_cian

In [19]:
# from lib.cian import CianDataCleaner

# data_cian = CianDataCleaner().transform( data_cian )

# print(len(data_cian))

In [20]:
# assert len(data_cian)>0

In [21]:
# data_cian.info(2)

In [22]:
# data_cian
# data_cian.query('nrooms==0')
# data_cian[ data_cian['title'].str.len()<1 ]
# data_cian[ data_cian['obj_name'].str.len()>0 ][['title','obj_name',]] # .to_csv('tmp/cian_title.csv',sep='\t')|

----

In [23]:
# data = pd.concat([data_avito,data_cian]).reset_index(drop=True) 
# print(len(data))
# assert len(data)>0

---

In [24]:
data = data_avito.reset_index(drop=True) 
print(len(data))
assert len(data)>0

3294

### обновляем таблицу адресов

In [25]:
# data = data.sample(10)

In [26]:
# import pandas as pd
# loc_file_path = 'data/location_yandex.pkl'# таблица адресов
# df=pd.read_pickle(loc_file_path)
# # df

# df['latitude_'] =  df['latitude']
# df['latitude']  =  df['longitude']
# df['longitude'] = df['latitude_']
# df = df.drop(columns=['latitude_',])

# df.to_pickle(loc_file_path)

In [27]:
# from lib.locator import LocationUpdater
# from lib.locator import AddressTransformerSev

# loc_file_path = 'data/location_osm.pkl'# таблица адресов

# loc = LocationUpdater(
#         address_transformer=AddressTransformerSev(),
#     ).transform(
#         adr=data.sample(3)['adr'],
#         loc=pd.read_pickle(loc_file_path.pkl'),
#         show_pbar=True,
#     )

In [28]:
from lib.locator import LocationUpdater
from lib.locator import AddressTransformerSev
from lib.locator import GeocoderYandex
from yandex_keys import keys


loc_file_path = 'data/location_yandex.pkl'# таблица адресов

loc = LocationUpdater(
        locator=GeocoderYandex(keys[0]),
        address_transformer=AddressTransformerSev(),
    ).transform(
        adr=data['adr'],
        loc=pd.read_pickle(loc_file_path),
        show_pbar=True,
    )

[INFO    ] 2022-09-13 15:28:38 | LocationUpdater: 875 addresses in location table
[INFO    ] 2022-09-13 15:28:38 | LocationUpdater: 875 addresses total
[INFO    ] 2022-09-13 15:28:38 | LocationUpdater: 875 addresses defined
[INFO    ] 2022-09-13 15:28:38 | LocationUpdater: 0 addresses undefined

In [29]:
loc

,latitude,longitude,adr
0,44.50,33.49,мыс Фиолент
1,44.47,33.67,"с. Резервное, Бородинский пер."
2,44.60,33.44,"ул. Челнокова, 14/11"
3,44.64,33.57,"ТСН СНТ Парус-1, 81"
4,44.64,33.58,"Ясеневая ул., 71"
...,...,...,...
870,44.57,33.58,"Предместная ул., 25"
871,44.51,33.52,"Севастополь, Балаклавский муниципальный округ, товарищество собственников недвижимости Гидротехник"
872,44.61,33.54,"Нахимовский муниципальный округ, Корабельная Сторона"
873,44.45,33.77,"с. Орлиное, Западный пер., 6"
874,44.54,33.59,"садоводческое товарищество Икар-1, 65"

In [30]:
loc.sample(3)

     latitude  longitude                     adr
719     44.59      33.56        Барнаульская ул.
851     44.59      33.50           Восточная ул.
349     44.57      33.54  ул. Архитектора Баглея

In [31]:
assert len(loc)>0
loc.to_pickle(loc_file_path)

### дополняем данные геометкой

In [32]:
data = data.merge(loc[['adr','latitude','longitude',]],on=['adr'],how='left')

print('всего записей:', len( data) )
print('записей без геометки:', len( data[ data['latitude'].isnull() ] ) )

всего записей: 3294
записей без геометки: 0

In [33]:
assert len(data)>0
data.to_pickle(result_file_path)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3294 entries, 0 to 3293
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   avito_id            3294 non-null   int64
 1   title               3294 non-null   object
 2   price               3294 non-null   int64
 3   obj_name            3294 non-null   object
 4   adr                 3294 non-null   object
 5   description         3294 non-null   object
 6   avito_page          3294 non-null   int64
 7   ts                  3294 non-null   datetime64[ns]
 8   area                3294 non-null   float64
 9   is_IJS              3294 non-null   bool
 10  priceM              3294 non-null   float64
 11  priceMU             3294 non-null   float64
 12  area_size_category  3294 non-null   category
 13  latitude            3294 non-null   float64
 14  longitude           3294 non-null   float64
dtypes: bool(1), category(1), datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 366.9+ KB

In [35]:
# for f in raw_data_files:
#     ts = dtm.strptime( re.sub(r'.*/avito_','',f), '%Y-%m-%d_%H-%M_raw.xlsx')
#     df = pd.read_excel(f)
#     df['ts'] = ts
#     df.to_excel(f,index=False)
#     print(ts)

In [36]:
# class AvitoDataCleanerRealtyLand:
    
#     def transform(self,data):
#         df = data.copy()
        
#         symb_lat = 'yexapocEXAPOCTHKBM'
#         symb_rus = 'уехаросЕХАРОСТНКВМ'
#         l2r = str.maketrans(symb_lat,symb_rus) 
        
#         df['title'] = df['title'].str.extract( r'«(.*)»',expand=False).apply(lambda s: s.translate(l2r) )
        
#         area = df['title'].str.extract( r'(\d+,?\d*)\s*(сот|га)',expand=True)
#         area.columns=['area','area_unit']
#         df = pd.concat([df,area],axis=1)
                       
#         df['is_IJS'] = df['title'].str.lower().str.match(r'.*ижс.*')
#         df['obj_name'] = df['obj_name'].fillna('')
#         df['price'] = df['price'].astype(int)
#         df['priceM'] = df['price']/1e6
        
#         df['area'] = df['area'].fillna('0.').str.replace(',','.').astype(float)
        
#         df.loc[ df['area_unit']=='га', 'area' ] = df.query('area_unit=="га"')['area']*100.
#         df = df.drop(columns=['area_unit'])
        
#         return df

In [37]:
# data_avito['title'].str.extract( r'(\d+,?\d*)\s*(сот|га)',expand=True) #, columns=['a','b'])

In [38]:
# # import re
# # s='Участок 9,7 сот. (ИЖС)'
# s='Участок 7,8 сот. (ИЖС)'
# s='Участок 7,8 га. (ИЖС)'

# s='Участок 7,8 м. (ИЖС)'

# # s='Участок 5 сот. (ИЖС)'

# re.search( r'(\d+,?\d*)\s*(сот|га)',s) #.group(1)

# # # len(s)